@model LancheListViewModel

<h2>@Model.CategoriaAtual</h2>

<div class="row">
    @* Inicia um loop foreachque itera por todos os objetos de lançamento na lista Model.Lanches. 
    Para cada lanche na lista, o código dentro do loop é executado. *@
    @foreach (Lanche lanche in Model.Lanches)
    {
        @*@Html.Partial("_LanchesResumo", lanche)*@

        @* renderizar parcialmente uma visualização chamada "_LanchesResumo" para cada lanche na lista.
        O atributo nameespecifica o nome da visualização parcial e o atributo forpassa o objeto lancheatual 
        como modelo para a visualização parcial. *@
        <partial name="_LanchesResumo" for="@lanche" />
    }
</div>