@* cria uma seção de informações de contato que inclui um título, ícones de contato (como envelope e telefone) 
e informações fornecidas, como endereço de e-mail, número de telefone e endereço físico, 
é estilizada com a classe "jumbotron" para destacar o conteúdo. *@
<div class="container marginTop1">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Caso prefeira entrar em contato por outros meio</h3>

        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="jessicasolersouza@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(34) 99999-5566</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. Pref. Jucá Pádua, 481 - Centro, Iturama - MG, 38280-000</h5>
        </p>
    </div>
</div>


