<title>
    @ViewData["Title"] - Grafico de Vendas
</title>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">

    //carrega a biblioteca Google Charts e especifica os pacotes "corechart" e "bar" que serão usados ​​para criar gráficos de barras.
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(CarregaDados);

    //Função para carregar os dados do banco
    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("VendasLanches", "AdminGrafico")',
            data: {dias: 360},
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                GraficoVendasLanches(data);
                return false;
            }
        });
        return false;
    }

    // Os dados são formatados em um array multidimensional dataArrayque representa os valores do gráfico.
    // Os dados são convertidos em um objeto google.visualization.DataTablepara uso no gráfico.
    function GraficoVendasLanches(data) {
        var dataArray = [
            ['Lanche', 'Quantidade' , 'Valores(R$)']
        ];
        $.each(data, function(i, item) {
            dataArray.push([item.lancheNome, item.lanchesQuantidade, item.lanchesValorTotal]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Lanches - Vendas nos últimos 360 dias',
            chartArea: {
                width: '70%'
            },
            colors: ['#5202b5', '#d2a828'],
            hAxis: {
                title: 'Valor Total (em Reais)',
                minValue: 0
            },
            vAxis: {
                title: 'Lanches'
            }
        };
        //um objeto gráfico do tipo google.visualization.BarCharté criado e renderizado < div > com o id"chart_div" usando chart.draw(data, options).
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>